:root {
  // colors
  --color-yellow: #f9d250;
  --color-orange: #ef7f3c;
  --color-red: #e20613;
  --color-grey: #1d1d1b;
  --color-white: #ffffff;
  // font sizes
  --font-size-p: 14px;
  --font-size-h1: 36px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 21px;
  --font-size-h6: 18px;
  --font-size-btn: 18px;
  // font family
  --font-family: "Inter", sans-serif;
  // widths
  --width-sidebar: 350px;
}
