@import "./styles/_reset";
@import "./styles/_variables";

body {
  background: var(--color-white);
  color: var(--color-grey);
  font-family: var(--font-family);
}

.wrapper {
}

.page {
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
